@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */

body {
    font-family: 'Poppins', sans-serif;
}



/* header styles */
.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;

    padding: 50px 50px 0 50px;
    color: #ffffff;
    margin-bottom: 100px;
}



.top-details {
    display: block;
}

.top-title h1 {
    font-size: 70px;
    margin: 0;
}

.top-title a {
    text-decoration: none;
}

.top-paragraph {
    font-size: 16px;
}


.banner-img img {
    height: 550px;
    padding-left: 250px;
    transition: 1s;

}

.banner-img:hover img {
    height: 700px;
}


.watch-button {
    font-size: 16px;
    background-color: #DD0000;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
}




/* upcoming box and right side styles */


.upcoming-box {
    background-color: #161616;
    width: 315px;
    height: 315px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-box {
    display: block;
}

.container-box a {
    text-decoration: none;
}

.box-menu {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    height: 65px;
    width: 250px;
    margin: 10px;
}

.bgblog {
    background-color: #dd0000;
    color: white;

}

.bgblog a {

    text-decoration: none;
    color: white;
}

/* Right side video article styles */


.upcoming-box-list-article {
    display: flex;
    padding-bottom: 100px;
}

.list-article {

    flex-grow: 1;
}

.video-article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 150px;
}

.video-article {
    width: 300px;
    height: 230px;
    padding-left: 20px;

}

.imgvs {
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-banner {


    border: 1px solid #8080802a;
    border-radius: 10px;
    padding: 20px;
}

.video-banner img {
    width: 100%;

    padding-bottom: 10px;
}

.video-details {

    padding-left: 10px;
}

.video-details button {
    font-size: 16px;
}

.video-title p {
    font-size: 18px;
}




.fa-regular {
    color: #161616B2;
}

.video-duration-comment {
    display: flex;
    font-size: 18px;
}

.vs {
    padding: 5px;
}


.comment {
    padding-left: 50px;
}


.view-all {
    display: none;

}

.view-all a {
    text-decoration: none;
}


/* footer starts */

footer {
    background-color: #161616;
    height: 400px;

}

.site-footer {
    padding-top: 50px;
}

.footer-title {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu-list li {
    padding-left: 20px;
}

.menu-list a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
}

/* -----------------------------
       media query for mobile
       --------------------------- */

@media only screen and (max-width: 688px) {


    .top-banner {
        display: block;
        margin-bottom: 50px;
        padding: 10px 10px 0 10px;
    }

    .top-title h1 {
        font-size: 35px;
        margin: 0;
    }

    .banner-img img {
        height: 500px;
        padding-left: 0px;

    }

    .watch-button {
        font-size: 14px;

        padding: 8px 15px;
    }

    .upcoming-box {
        background-color: #ffffff00;
        width: 100%;
        height: 230px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }


    .container-box {
        display: block;
    }


    .box-menu {


        background-color: #2b2b2e1e;
        width: 350px;

    }

    .bgblog {
        background-color: #dd0000;

    }

    .upcoming-box-list-article {
        display: block;
        padding-bottom: 50px;
    }

    .video-article-grid {
        display: block;
    }


    .video-article {
        width: 100%;
        height: 350px;
        padding-left: 0;
        padding-bottom: 35px;
    }


    .view-all {
        padding-top: 40px;
        display: inline-block;
    }

    .menu-list {
        display: block;
        justify-content: center;
        list-style-type: none;
    }

    footer {

        height: 300px;
    }

    .footer-title {
        color: #ffffff;
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
    }

}

@media only screen and (min-width: 689px) and (max-width: 992px) {

    .top-banner {
        display: flex;
        margin-bottom: 50px;
        padding: 20px 20px 0 20px;
    }

    .top-title h1 {
        font-size: 50px;
        margin: 0;
    }

    .banner-img img {
        height: 500px;
        padding-left: 0px;

    }

    .watch-button {
        font-size: 18px;

        padding: 8px 15px;
    }

    .upcoming-box {
        background-color: #ffffff00;
        width: 100%;
        height: 230px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }


    .container-box {
        display: flex;
    }


    .box-menu {


        background-color: #2b2b2e1e;
        width: 230px;

    }

    .bgblog {
        background-color: #dd0000;

    }

    .upcoming-box-list-article {
        display: block;
        padding-bottom: 50px;
    }

    .video-article-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .video-article {
        width: 100%;
        height: 350px;
        padding-left: 0;
        padding-bottom: 35px;
    }


    .view-all {
        padding-top: 20;
        display: block;
    }


    .menu-list {
        display: block;
        justify-content: center;
        list-style-type: none;
    }

    footer {

        height: 300px;
    }

    .footer-title {
        color: #ffffff;
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
    }

}